In [1]:
#counter function and if condition EVEN Numbers
counter=1
while counter<11:
  
  if counter % 2==0:
    counter += 1
    continue
  print(counter)
  counter += 1
else:
  print (" max value of counter",counter)

1
3
5
7
9
 max value of counter 11

In [2]:
#cleated a list named test, used for loop to print included elements one below the other

test = ["a","b","c,d"]
for i in test:
  print (i)

a
b
c,d

In [3]:
#range function and for loop to print 1 to 10 one below other
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
#even and odd using range fn |use of for and if
for i in range(25,30):
  if i%2!=0:

    continue
  print(i)
else:
    print("value of i",i)

26
28
value of i 29

In [5]:
#range function with increment as a parameter
for i in range(1,14,3):
  print (i)
else:
  print("value=", i)

1
4
7
10
13
value= 13

In [6]:
#range function with increment as a parameter
#my tweaking expt
for i in range(4,11,2):
  print (i)
else:
  print('value ending=', i)

4
6
8
10
value ending= 10

In [7]:
#nsted loop
for i in range(1,11):
  print(i) 
  print()   #optional 
  for j in range( 1,11):
    print(i/j)
    print() #optional

1

1.0

0.5

0.3333333333333333

0.25

0.2

0.16666666666666666

0.14285714285714285

0.125

0.1111111111111111

0.1

2

2.0

1.0

0.6666666666666666

0.5

0.4

0.3333333333333333

0.2857142857142857

0.25

0.2222222222222222

0.2

3

3.0

1.5

1.0

0.75

0.6

0.5

0.42857142857142855

0.375

0.3333333333333333

0.3

4

4.0

2.0

1.3333333333333333

1.0

0.8

0.6666666666666666

0.5714285714285714

0.5

0.4444444444444444

0.4

5

5.0

2.5

1.6666666666666667

1.25

1.0

0.8333333333333334

0.7142857142857143

0.625

0.5555555555555556

0.5

6

6.0

3.0

2.0

1.5

1.2

1.0

0.8571428571428571

0.75

0.6666666666666666

0.6

7

7.0

3.5

2.3333333333333335

1.75

1.4

1.1666666666666667

1.0

0.875

0.7777777777777778

0.7

8

8.0

4.0

2.6666666666666665

2.0

1.6

1.3333333333333333

1.1428571428571428

1.0

0.8888888888888888

0.8

9

9.0

4.5

3.0

2.25

1.8

1.5

1.2857142857142858

1.125

1.0

0.9

10

10.0

5.0

3.3333333333333335

2.5

2.0

1.6666666666666667

1.4285714285714286

1.25

1.1111111111111112

1.0

In [8]:
#nsted loop
for i in range(1,4):
 
  for j in range( 1,4):
    print(i/j)

1.0
0.5
0.3333333333333333
2.0
1.0
0.6666666666666666
3.0
1.5
1.0

In [9]:
#nested loop also usage of ,
for i in range(1,5):
  
  for j in range( 1,5):
    print(i,",",i/j,",",i+j,",", i^2*j)

1 , 1.0 , 2 , 3
1 , 0.5 , 3 , 5
1 , 0.3333333333333333 , 4 , 7
1 , 0.25 , 5 , 9
2 , 2.0 , 3 , 0
2 , 1.0 , 4 , 6
2 , 0.6666666666666666 , 5 , 4
2 , 0.5 , 6 , 10
3 , 3.0 , 4 , 1
3 , 1.5 , 5 , 7
3 , 1.0 , 6 , 5
3 , 0.75 , 7 , 11
4 , 4.0 , 5 , 6
4 , 2.0 , 6 , 0
4 , 1.3333333333333333 , 7 , 2
4 , 1.0 , 8 , 12

In [10]:
#nested loop also usage of end=""
for i in range(1,5):
  
  for j in range( 1,11):
    print(i,",",i/j,end="")

1 , 1.01 , 0.51 , 0.33333333333333331 , 0.251 , 0.21 , 0.166666666666666661 , 0.142857142857142851 , 0.1251 , 0.11111111111111111 , 0.12 , 2.02 , 1.02 , 0.66666666666666662 , 0.52 , 0.42 , 0.33333333333333332 , 0.28571428571428572 , 0.252 , 0.22222222222222222 , 0.23 , 3.03 , 1.53 , 1.03 , 0.753 , 0.63 , 0.53 , 0.428571428571428553 , 0.3753 , 0.33333333333333333 , 0.34 , 4.04 , 2.04 , 1.33333333333333334 , 1.04 , 0.84 , 0.66666666666666664 , 0.57142857142857144 , 0.54 , 0.44444444444444444 , 0.4

In [11]:
#nested loop also usage of end=" and simply " 
for i in range(1,5):
  
  for j in range( 1,11):
    print(i," ", i+j,end="")

1   21   31   41   51   61   71   81   91   101   112   32   42   52   62   72   82   92   102   112   123   43   53   63   73   83   93   103   113   123   134   54   64   74   84   94   104   114   124   134   14

In [12]:
#nested loop also usage of end=" and simply " 
for i in range(1,5):
  
  for j in range( 1,11):
    print(i," ", i+j," ",end="")

1   2  1   3  1   4  1   5  1   6  1   7  1   8  1   9  1   10  1   11  2   3  2   4  2   5  2   6  2   7  2   8  2   9  2   10  2   11  2   12  3   4  3   5  3   6  3   7  3   8  3   9  3   10  3   11  3   12  3   13  4   5  4   6  4   7  4   8  4   9  4   10  4   11  4   12  4   13  4   14

In [13]:
#nsted loop also usage of end=" and simply " 
for i in range(1,5):
  print(i,)
  for j in range( 1,11):
    print(i/j,end="")

1
1.00.50.33333333333333330.250.20.166666666666666660.142857142857142850.1250.11111111111111110.12
2.01.00.66666666666666660.50.40.33333333333333330.28571428571428570.250.22222222222222220.23
3.01.51.00.750.60.50.428571428571428550.3750.33333333333333330.34
4.02.01.33333333333333331.00.80.66666666666666660.57142857142857140.50.44444444444444440.4

In [14]:
# This is the example of print simple pyramid pattern  
n = int(input("Enter the number of rows"))  
# outer loop to handle number of rows  
for i in range(0, n+1):  
    # inner loop to handle number of columns  
    # values is changing according to outer loop  
        for j in range(0, i):  
            # printing stars  
            print("* ", end="")       
    # ending line after each row  
        print() 
#pareekishanam
else:
  print(i,"rows has been printed")

Enter the number of rows5

*
* *
* * *
* * * *
* * * * *
5 rows has been printed

In [15]:
harisfn()

NameError: name 'harisfn' is not defined

In [ ]:
#create a function
def harisfn(x,y):
    print(x, y)
#calling the fn 
harisfn(1,2)

In [ ]:
 #create a function
def harisfn(*x):#tuple and arbitrary argument
    print(x, type(x))

In [ ]:
#calling the fn 
harisfn(1,2,59, 69)

In [ ]:
 #create a function
def harisfn(*x):                          #tuple and arbitrary argument
    print(x, type(x),"**", x[3])
    for i in x:
        print( "position of:", i, "is",)
    #calling the fn 
harisfn(1,2,59, 69)

In [ ]:
#lambda fn basics
def y(x):
    print(x)
y(5)

In [ ]:
#lambda fn
sum=lambda x,y:x+y
print(sum(4,3))

In [ ]:
def myfunc(x):
    return lambda a:a*x 

double = myfunc(2) #Lambda 5a??
triple=myfunc(3)
print(double(3))
print(triple(5))

In [ ]:
fruits= ["amphibians","boobs","caterpillar","dick"]
print(fruits[2])
print(fruits[len(fruits)-1])     # to prove that the length of array is 3 and fruits[2] is dick

In [ ]:
#ADD and remove new element to array using APPEND, POP, Remove
fruits.append("grapes")
print(fruits)
#remove using POP
fruits.pop(2)    #removing using the position of element within array using POP
print(fruits)

fruits.remove("grapes")    #removed grapes using fruits.remove also 
print(fruits)

In [5]:
fruits= ["amphibians","boons","caterpillar","duck"]
print(fruits.pop(2))
fruits.insert(4,"manhattan")  #appending??
print(fruits)
print(fruits[1:])    #tried slicing list also
print(fruits[1:2])    #tried slicing list also
print(fruits.index("manhattan"))   #printing the index also
print(fruits.sort())     #this syntax diddnt work|| tried to sort and print together

caterpillar
['amphibians', 'boons', 'duck', 'manhattan']
['boons', 'duck', 'manhattan']
['boons']
3
None

In [ ]:
fruits= ["amphibians","boons","caterpillar","duck"]
fruits.sort()       #to sort inalpha order
print(fruits)
fruits.reverse()      #to sort in reverse order
print(fruits)

In [2]:
#Dictionary.
#no index positions, {} used, key values entered.
dict={'a':'l', 'b':'m', 'c':'n'}
print(dict['a'])    #remember aabout the square bracket and ' ' within as syntax

l

In [4]:
#Dictionary.
dict={'a':'123', 'b':[1,2,3,4,5], 'c':{'d': 'y','e': 150}}
print(dict)
print((dict['b'][3]))
print(dict['c']['e'])  # remember syntax to print 150 (nested dict within a dict)
print(dict['c']['d'].upper())    # prunt uppercase just by adding .upper() to the command


# dict.tab gives the lists  like keys, vaues, items- to return key-value pairs like tuple

{'a': '123', 'b': [1, 2, 3, 4, 5], 'c': {'d': 'y', 'e': 150}}
4
150
Y

In [1]:
#tuples- within parantheses, similar to lists except immutability (stored values cant be changed)
#diffrnt objects mixed, 

t=('one',2,3,2,5,2,3,2,2,2)    #remember ' '
type(t)
print(t[1])           #indexing
print(t[1:])     #slicing first element
print(t.count(2))
t.index(3)      # index of fiest occurence of 3

2
(2, 3, 2, 5, 2, 3, 2, 2, 2)
6

2

In [ ]:
#sets

myset=set()      #set() to create a set type
mylist=[1,1,2,3,4,2,3,5]
set(mylist)    # directly calling the list above to a set

#booleans

In [ ]:
#File handling 
%matplotlib inline

In [1]:
%% writefile hari.txt
Hello   # this worked in the matplotlib trial file

UsageError: Cell magic `%%` not found.

In [ ]:
myfile=open('myfile.txt')

In [1]:
#Classes and objects
class stud:   #pass can be used to pass this class without doing anything
    def __init__(self,first,last,fees):
        self.first=first
        self.last=last
        self.fees=fees
        self.email=first+"."+last+"@elites.com"
        
    def fullname(self): #within the class,each method automatially takes the instance as first argument(self).
        return '{}{}'.format(self.first,self.last)    #remember poco
        
stud_1=stud('sree','visakh',10000)
stud_2=stud('jyothika','shari',13000)

print(stud_1.email)
print(stud_2.fees)
    
# print the fullname method 1 
#attribute

print('{}{}'.format(stud_1.first,stud_1.last))

#poco
#print full name (using method)
print(stud_2.fullname())    #remember () try without () later and see wht happens

print(stud.fullname(stud_2)) # whats the diff between these two lines.
stud.fullname(stud_2)

sree.visakh@elites.com
13000
sreevisakh
jyothikashari
jyothikashari

'jyothikashari'

In [ ]:
#Lesson2 Class variables
#example annual raise
class stud:   #pass can be used to pass this class without doing anything
    def __init__(self,first,last,fees):
        self.first=first
        self.last=last
        self.fees=fees
        self.email=first+"."+last+"@elites.com"
        
    def fullname(self):
        return '{}{}'.format(self.first,self.last) 
    def apply_raise(self):
        self.fees=int(self.fees*1.04)
        
stud_1=stud('sree','visakh',10000)
stud_2=stud('jyothika','shari',13000)

        
stud_1.apply_raise()   #remember () and the syntax 
print(stud_1.fees)

In [10]:
stud=['Sree','Jyothika','Karthik']
sname=['Visakh','Shari','Jayan']
#list(zip(stud,zip(stud,sname)))

{stud:sname for stud,sname in zip(stud,sname)}

{'Sree': 'Visakh', 'Jyothika': 'Shari', 'Karthik': 'Jayan'}

AttributeError: module 'pandas' has no attribute 'series'